@import url('../blocks/intro/__text/intro__text.css');
@import url('../blocks/intro/__author/intro__author.css');

.intro__content-row {
    width: 984px;
    height: 154px;
    display: flex;
    justify-content: space-between;
}