.intro__text {
    width: 57.7%;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    margin: 0;
    margin-bottom: 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .intro__text {
        width: 74.6%;
    }
}

@media screen and (max-width: 1023px) {
    .intro__text {
        width: 100%
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__text {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 32px;
    }
}